<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="box">
  <div class="container">
    <div class="row">

      <div *ngFor="let ticket of ticketsArray" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

        <div class="box-part text-center">
            <img class="card-img-top" src="https://ak4.picdn.net/shutterstock/videos/7188514/thumb/1.jpg"
              alt="Card image cap" >

          <div class="title">
            <h4>{{ticket.wholesalePrice}}</h4>
          </div>

          <div class="text">
            <span>Section: {{ticket.section}} Row: {{ticket.row}}</span>
          </div>

          <a href="#">Learn More</a>

        </div>
      </div>

    </div>
  </div>
</div>-->
<div class="container">
  <div class="card-deck mb-3 text-center">
<div *ngFor="let ticket of ticketsArray" class="card mb-4 shadow-sm">
  <div class="card-header">
    <h4 class="my-0 font-weight-normal">{{ticket.type | letterToUpperCase}}</h4>
  </div>
  <div class="card-body">
    <h1 class="card-title pricing-card-title">${{ticket.wholesalePrice}} <small class="text-muted"></small></h1>
    <ul class="list-unstyled mt-3 mb-4">
       <li><span style="font-weight: bold; ">Row: </span>{{ticket.row}}</li>
       <li><span style="font-weight: bold;">Section: </span>{{ticket.section}}</li>
       <li><span style="font-weight: bold;">When: </span>{{ticket.event.occursAt | revertTime}}</li>
       <li><span style="font-weight: bold;">Quantity: </span>{{ticket.quantity}}</li>
    </ul>
    <button type="button" (click)="reserve(ticket.id)" class="btn btn-lg btn-block btn-outline-primary">Reserve</button>
    <button type="button" (click)="openSubmittingCard(ticket.id, ticket.quantity)"
      class="btn btn-lg btn-block btn-primary">Buy</button>
  </div>
</div>
</div>
</div>
<button class="float" (click)="onFloatClick()"><span class="inside" style="">&#8679;</span></button>
