/*body {
  background: #eee;
}

span {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #0062cc;
  border-bottom: 2px solid #0062cc;
}

.box {
    background-color: #e8e8e8;
  padding: 60px 0px;
}

.box-part {
  background: #FFF;
  border-radius: 10px;
  padding: 60px 10px;
  margin: 30px 0px;
}

.text {
  margin: 20px 0px;
}

.fa {
  color: #4183D7;
}*/


.shadow-sm {
  min-width: 225px;
  max-width: 23%;
}

.card-deck {
  display: flex;
  justify-content: center;
}

.float {
  background-color: coral;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3em;
  height: 3em;
}

.inside {
  outline: 0 !important;
  text-decoration: none;
  position: fixed;
  bottom: 0.7rem;
  right: 1.6rem;
  color: white;
  font-size: 45px;
}