  <div class="main-container">
    <div id="container">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Name</label>
          <input type="text" [(ngModel)]="name" name="name" class="form-control" id="formGroupExampleInput"
            placeholder="Example input">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Surname</label>
          <input type="text" [(ngModel)]="surname" name="surname" class="form-control" id="formGroupExampleInput6"
            placeholder="Another input">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Phone number</label>
          <input type="text" [(ngModel)]="phoneNumber" name="phoneNumber" class="form-control"
            id="formGroupExampleInput5" placeholder="Another input">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Email</label>
          <input type="text" [(ngModel)]="email" name="email" class="form-control" id="formGroupExampleInput2"
            placeholder="Another input">
        </div>
        <div *ngIf="changePasswordButton" class="form-group">
          <label for="formGroupExampleInput2">Old password</label>
          <input type="password" [(ngModel)]="oldPassword" name="oldPassword" class="form-control"
            id="formGroupExampleInput4" placeholder="Enter old password">
        </div>
        <div *ngIf="changePasswordButton" class="form-group">
          <label for="formGroupExampleInput2">New password</label>
          <input type="password" [(ngModel)]="newPassword" name="newPassword" class="form-control" id="formGroupExampleInput3"
            placeholder="Enter new password">
        </div>
        <button *ngIf="!changePasswordButton" (click)="openCloseFormToChangePassword()" type="button"
          class="btn btn-light">Change password</button>
        <span *ngIf="changePasswordButton"><button (click)="openCloseFormToChangePassword()" type="button"
            class="btn btn-danger closePasswordForm">&#215;</button></span>
        <button type="button" *ngIf="!changePasswordButton" (click)="openWindow()" class="btn btn-outline-success">Save
          changes</button>
        <button type="button" *ngIf="changePasswordButton" (click)=" openDialogToChangePassword()"
          class="btn btn-outline-success save-password">Save new password</button>
      </form>
    </div>
    <div class="listOfCards">
      <div class="alert alert-success" role="alert">
        All my credit cards. <a (click)="goToCreditCards()" class="alert-link">Check more detailed</a>
      </div>
      <ul class="list-group" *ngFor="let card of creditCards">
        <li class="list-group-item"><span style="cursor: pointer;" (click)="openCardDialog(card.stripeCardId)">{{card.nameOfCard}}</span><button
            class="delete"
            (click)="openDialog(card.id, card.stripeCardId)">&#10005;</button></li>

      </ul>
      <div class="create-button">
        <span *ngIf="!addingCreditCard">Add new card&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="openCreatingCard()"
            type="button" class="btn btn-outline-dark">&#43;</button></span>


        <span *ngIf="addingCreditCard">Close&nbsp;&nbsp;<button (click)="openCloseFormToAddCard()" type="button"
            class="btn btn-danger">&#215;</button></span>
        

      </div>


    </div>
    <div style="min-width: 8%"></div>
  </div>