/*.container {
  max-width: 960px;
  margin: 0 auto;
  background: #f9f9f9;
  font-size: 24px;
  padding: 25px;
}*/

/*.parallax {
  background: url('../../../moraine-lake-3840x2512-banff-national-park-rocky-mountains-4k-5910.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

.parallax1 {
  background: url('../../../moraine-lake-canada-4k-banff-mountains.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}*/

/*.parallax {
    
  min-height: 400px;
  background: transparent;
}

html,
body {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 28px;
  scroll-behavior: smooth;
}

.image {
  
}

.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ContentContainer {
  position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}

.Content {
  max-width: 750px;
  margin: 0 auto;
  padding: 75px 0;
}

p {
  margin: 75px 0;
}

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform: translateZ(-4px) scale(2);
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

*/


.container {
  max-width: 95%;
  margin: 0 auto;
}

section.section:last-child {
  margin-bottom: 0;
}

section.section h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}

section.section p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}

section.section p:last-child {
  margin-bottom: 0;
}

section.section.content {
  padding: 40px 0;
}

section.section.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.section.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*section.section.parallax-1 {
  background-image: url("../../../moraine-lake-canada-4k-banff-mountains.jpg");
}*/
section.section.parallax-1 {
  background-image: url("https://wallpapersite.com/images/wallpapers/marshmello-4983x2933-live-concert-4k-7560.jpg");
}

section.section.parallax-2 {
  background-image: url("https://wallpaperplay.com/walls/full/e/0/f/284994.jpg");
}

section.section.parallax-3 {
  background-image: url("https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
}


section.section.parallax-4 {
  background-image: url("http://hdqwalls.com/wallpapers/marshmello-concert-4k-tj.jpg");
}

@media all and (min-width: 600px) {
  section.section h2 {
    font-size: 42px;
  }

  section.section p {
    font-size: 20px;
  }

  section.section.parallax h1 {
    font-size: 96px;
  }
}

@media all and (min-width: 960px) {
  section.section.parallax h1 {
    font-size: 160px;
  }
}

.list-unstyled {
  text-align: left;
}



.shadow-sm {
  min-width: 225px;
  max-width: 23%;
}

.card-deck {
  display: flex;
  justify-content: center;
}


select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}








.btn-search {
  background: #424242;
  border-radius: 5px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #1c1c1c;
}

.btn-search:link,
.btn-search:visited {
  color: #fff;
}

.btn-search:active,
.btn-search:hover {
  background: #1c1c1c;
  color: #fff;
}

.col-md-10 {
  padding-top: 15px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.col-xs-5 {
  margin-right: 40px;
}

.custom-select {
  min-width: 300px;
}

.float {
  background-color: coral;
  border-radius: 50%;
  border: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 3em;
  height: 3em;
}

.inside {
  outline: 0 !important;
  text-decoration: none;
  position: fixed;
  bottom: 0.7rem;
  right: 1.6rem;
  color: white;
  font-size: 45px;
}
