
<div class="btn-container">
  <div class="col-md-10">
    <div class="row">
      <div class="col-xs-5">
        <select class="custom-select" required [(ngModel)]="selectedValue">
          <option selected="selected" disabled></option>
          <option *ngFor="let category of categoriesArray" [ngValue]="category.id">{{category.name}}</option>
        </select>
      </div>
      <div class="col-xs-4">
        <div class="input-group">
          <input type="text" class="form-control" required #valueOfInput placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-search" (click)="search(selectedValue, valueOfInput.value)" type="button"><i
                class="fa fa-search fa-fw"></i> Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section parallax parallax-1">
  <div class="container">
    <h1>Concerts</h1>
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div *ngFor="let event of firstSection" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{event.state | letterToUpperCase}}</h4>
        </div>
        <div class="card-body">
          <p class="text-center" style="font-size: 22px;">{{event.name}}</p>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span style="font-weight: bold;">State: </span>{{event.venue.location}}</li>
            <li><span style="font-weight: bold;">Where: </span>{{event.venue.name}}</li>
            <li><span style="font-weight: bold;">When: </span>{{event.occursAtLocal | revertTime}}</li>
            <li><span style="font-weight: bold;">Tickets left: </span>{{event.productsEticketCount}}</li>
          </ul>
          <button (click)="click(event.id)" value="{{event.id}}" type="button"
            class="btn btn-lg btn-block btn-primary">Get more info</button>
        </div>
      </div>
      
      
    </div>
    
  </div>
</section>
<section class="section parallax parallax-2">
  <div class="container">
    <h1>Football</h1>
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div *ngFor="let event of secondSection" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{event.state | letterToUpperCase}}</h4>
        </div>
        <div class="card-body">
          <p class="text-center" style="font-size: 22px;">{{event.name}}</p>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span style="font-weight: bold;">State: </span>{{event.venue.location}}</li>
            <li><span style="font-weight: bold;">Where: </span>{{event.venue.name}}</li>
            <li><span style="font-weight: bold;">When: </span>{{event.occursAtLocal | revertTime}}</li>
            <li><span style="font-weight: bold;">Tickets left: </span>{{event.productsEticketCount}}</li>
          </ul>
          <button (click)="click(event.id)" value="{{event.id}}" type="button"
            class="btn btn-lg btn-block btn-primary">Get more info</button>
        </div>
      </div>


    </div>
  </div>
</section>
<section class="section parallax parallax-3">
  <div class="container">
    <h1>Events</h1>
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div *ngFor="let event of thirdSection" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{event.state | letterToUpperCase}}</h4>
        </div>
        <div class="card-body">
          <p class="text-center" style="font-size: 22px;">{{event.name}}</p>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span style="font-weight: bold; ">State: </span>{{event.venue.location}}</li>
            <li><span style="font-weight: bold;">Where: </span>{{event.venue.name}}</li>
            <li><span style="font-weight: bold;">When: </span>{{event.occursAtLocal | revertTime}}</li>
            <li><span style="font-weight: bold;">Tickets left: </span>{{event.productsEticketCount}}</li>
          </ul>
          <button (click)="click(event.id)" value="{{event.id}}" type="button"
            class="btn btn-lg btn-block btn-primary">Get more info</button>
        </div>
      </div>


    </div>
  </div>
</section>
<section class="section parallax parallax-4">
  <div class="container">
    <h1>Pleasure</h1>
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div *ngFor="let event of fourthSection" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{event.state | letterToUpperCase}}</h4>
        </div>
        <div class="card-body">
          <p class="text-center" style="font-size: 22px;">{{event.name}}</p>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span style="font-weight: bold;">State: </span>{{event.venue.location}}</li>
            <li><span style="font-weight: bold;">Where: </span>{{event.venue.name}}</li>
            <li><span style="font-weight: bold;">When: </span>{{event.occursAtLocal | revertTime}}</li>
            <li><span style="font-weight: bold;">Tickets left: </span>{{event.productsEticketCount}}</li>
          </ul>
          <button (click)="click(event.id)" value="{{event.id}}" type="button"
            class="btn btn-lg btn-block btn-primary">Get more info</button>
        </div>
      </div>


    </div>
  </div>
</section>

<button class="float" (click)="onFloatClick()"><span class="inside" style="">&#8679;</span></button>