
<!--<div class="MainContainer">

   <div class="ParallaxContainer">
     <img src="https://wallpapersite.com/images/wallpapers/moraine-lake-3840x2160-snow-winter-4k-3373.jpg" alt="">
   </div>

  <div class="ContentContainer">
    <div class="Content">
      <p>ʻO Lorem Ipsum kahi haʻahaʻa wale nō o ka paʻi a me keʻano o nāʻoihana. ʻO Lorem Ipsum ka 'ōlelo papahana
        maʻamau o kaʻoihana o ka makahiki 1500, i ka wā i lawe ai kekahi mea paʻi kiʻiʻole i keʻano o ka type a
        scrambled iā ia e hana i kahi puke kiko'ī. ʻAʻole i ola wale i kaʻelima mau kenekulia, akā,ʻo ka leleʻana hoʻi i
        nāʻano o ka lolouila, e hoʻololiʻoleʻia ana. Ua hoʻolahaʻia i nā makahiki 1960 me ka hoʻokuʻuʻana i nā pepa
        Letraset i loko o nā moʻolelo Lorem Ipsum, a me nā mea hou aku me ka polokalamu hoʻopuka pākī e like me Aldus
        PageMaker me nā papa o Lorem Ipsum.
      </p>
      <p>ʻO Lorem Ipsum kahi haʻahaʻa wale nō o ka paʻi a me keʻano o nāʻoihana. ʻO Lorem Ipsum ka 'ōlelo papahana
        maʻamau o kaʻoihana o ka makahiki 1500, i ka wā i lawe ai kekahi mea paʻi kiʻiʻole i keʻano o ka type a
        scrambled iā ia e hana i kahi puke kiko'ī. ʻAʻole i ola wale i kaʻelima mau kenekulia, akā,ʻo ka leleʻana hoʻi i
        nāʻano o ka lolouila, e hoʻololiʻoleʻia ana. Ua hoʻolahaʻia i nā makahiki 1960 me ka hoʻokuʻuʻana i nā pepa
        Letraset i loko o nā moʻolelo Lorem Ipsum, a me nā mea hou aku me ka polokalamu hoʻopuka pākī e like me Aldus
        PageMaker me nā papa o Lorem Ipsum.
      </p>
    </div>
  </div>
  <div class="ContentContainer">
    <div class="Content">
      <p>ʻO Lorem Ipsum kahi haʻahaʻa wale nō o ka paʻi a me keʻano o nāʻoihana. ʻO Lorem Ipsum ka 'ōlelo papahana
        maʻamau o kaʻoihana o ka makahiki 1500, i ka wā i lawe ai kekahi mea paʻi kiʻiʻole i keʻano o ka type a
        scrambled iā ia e hana i kahi puke kiko'ī. ʻAʻole i ola wale i kaʻelima mau kenekulia, akā,ʻo ka leleʻana hoʻi i
        nāʻano o ka lolouila, e hoʻololiʻoleʻia ana. Ua hoʻolahaʻia i nā makahiki 1960 me ka hoʻokuʻuʻana i nā pepa
        Letraset i loko o nā moʻolelo Lorem Ipsum, a me nā mea hou aku me ka polokalamu hoʻopuka pākī e like me Aldus
        PageMaker me nā papa o Lorem Ipsum.
      </p>
    </div>
  </div>
  <div class="ParallaxContainer">
  </div>
  <div class="ContentContainer">
    <div class="Content">
      <p>ʻO Lorem Ipsum kahi haʻahaʻa wale nō o ka paʻi a me keʻano o nāʻoihana. ʻO Lorem Ipsum ka 'ōlelo papahana
        maʻamau o kaʻoihana o ka makahiki 1500, i ka wā i lawe ai kekahi mea paʻi kiʻiʻole i keʻano o ka type a
        scrambled iā ia e hana i kahi puke kiko'ī. ʻAʻole i ola wale i kaʻelima mau kenekulia, akā,ʻo ka leleʻana hoʻi i
        nāʻano o ka lolouila, e hoʻololiʻoleʻia ana. Ua hoʻolahaʻia i nā makahiki 1960 me ka hoʻokuʻuʻana i nā pepa
        Letraset i loko o nā moʻolelo Lorem Ipsum, a me nā mea hou aku me ka polokalamu hoʻopuka pākī e like me Aldus
        PageMaker me nā papa o Lorem Ipsum.
      </p>
    </div>
  </div>
  <div class="ParallaxContainer">
  </div>
</div>-->

<!--<main class="wrapper">
  <section class="section parallax bg1">
    <h1>Such Adorableness</h1>
  </section>
  <section class="section static">
    <h1>Boring</h1>
  </section>
  <section class="section parallax bg2">
    <h1>SO FWUFFY AWWW</h1>
  </section>
</main>-->

<section class="section parallax parallax-1">
  <div class="container">
    <h1>Concerts</h1>
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div *ngFor="let event of firstSection" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{event.state | letterToUpperCase}}</h4>
        </div>
        <div class="card-body">
          <p class="text-center" style="font-size: 22px;">{{event.name}}</p>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span style="font-weight: bold;">State: </span>{{event.venue.location}}</li>
            <li><span style="font-weight: bold;">Where: </span>{{event.venue.name}}</li>
            <li><span style="font-weight: bold;">When: </span>{{event.occursAtLocal | revertTime}}</li>
            <li><span style="font-weight: bold;">Tickets left: </span>{{event.productsEticketCount}}</li>
          </ul>
          <button (click)="click(event.id)" value="{{event.id}}" type="button"
            class="btn btn-lg btn-block btn-primary">Get more info</button>
        </div>
      </div>
      
      
    </div>
    
  </div>
</section>
<section class="section parallax parallax-2">
  <div class="container">
    <h1>Football</h1>
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div *ngFor="let event of secondSection" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{event.state | letterToUpperCase}}</h4>
        </div>
        <div class="card-body">
          <p class="text-center" style="font-size: 22px;">{{event.name}}</p>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span style="font-weight: bold;">State: </span>{{event.venue.location}}</li>
            <li><span style="font-weight: bold;">Where: </span>{{event.venue.name}}</li>
            <li><span style="font-weight: bold;">When: </span>{{event.occursAtLocal | revertTime}}</li>
            <li><span style="font-weight: bold;">Tickets left: </span>{{event.productsEticketCount}}</li>
          </ul>
          <button (click)="click(event.id)" value="{{event.id}}" type="button"
            class="btn btn-lg btn-block btn-primary">Get more info</button>
        </div>
      </div>


    </div>
  </div>
</section>
<section class="section parallax parallax-3">
  <div class="container">
    <h1>Events</h1>
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div *ngFor="let event of thirdSection" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{event.state | letterToUpperCase}}</h4>
        </div>
        <div class="card-body">
          <p class="text-center" style="font-size: 22px;">{{event.name}}</p>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span style="font-weight: bold; ">State: </span>{{event.venue.location}}</li>
            <li><span style="font-weight: bold;">Where: </span>{{event.venue.name}}</li>
            <li><span style="font-weight: bold;">When: </span>{{event.occursAtLocal | revertTime}}</li>
            <li><span style="font-weight: bold;">Tickets left: </span>{{event.productsEticketCount}}</li>
          </ul>
          <button (click)="click(event.id)" value="{{event.id}}" type="button"
            class="btn btn-lg btn-block btn-primary">Get more info</button>
        </div>
      </div>


    </div>
  </div>
</section>
<section class="section parallax parallax-4">
  <div class="container">
    <h1>Pleasure</h1>
  </div>
</section>
<section class="section content">
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div *ngFor="let event of fourthSection" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{event.state | letterToUpperCase}}</h4>
        </div>
        <div class="card-body">
          <p class="text-center" style="font-size: 22px;">{{event.name}}</p>
          <ul class="list-unstyled mt-3 mb-4">
            <li><span style="font-weight: bold;">State: </span>{{event.venue.location}}</li>
            <li><span style="font-weight: bold;">Where: </span>{{event.venue.name}}</li>
            <li><span style="font-weight: bold;">When: </span>{{event.occursAtLocal | revertTime}}</li>
            <li><span style="font-weight: bold;">Tickets left: </span>{{event.productsEticketCount}}</li>
          </ul>
          <button (click)="click(event.id)" value="{{event.id}}" type="button"
            class="btn btn-lg btn-block btn-primary">Get more info</button>
        </div>
      </div>


    </div>
  </div>
</section>