<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/my-info" routerLinkActive=' active'>My
      info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/orders" routerLinkActive=' active'>Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/credit-cards" routerLinkActive=' active'>Credit cards</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/settings" routerLinkActive=' active'>Settings</a>
  </li>
  <li class="nav-item" style="padding-left: 40%">
    
  </li>
</ul>


<router-outlet></router-outlet>
