<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/my-info" routerLinkActive=' active'>My
      info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/orders" routerLinkActive=' active'>Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/credit-cards" routerLinkActive=' active'>Credit cards</a>
  </li>
  
  <li style="padding-left: 30px;" *ngIf="buttonVariable" class="nav-item">
    <button  type="button" *ngIf="!ticketVariable" (click)="showTickets()" class="btn btn-secondary">Show
      tickets</button>
    <button type="button" *ngIf="ticketVariable" (click)="showTransactions()" class="btn btn-secondary">Show
      transactions</button>
  </li>
 
</ul>


<router-outlet></router-outlet>
